@use "../base/mixins";
@use "../base/fonts";
@use "../base/colors";

.footer{
    @include mixins.flexCenter;
    flex-direction: column;
    padding:2rem;
    gap:2rem;

    &__header{
        @include mixins.flexCenter;
        gap:2rem;
    }

    &__list{
        @include mixins.flexCenter;
        gap:2rem;
    }
    &__listItem a i{
        color: colors.$color-primary;
        font-size: 200%;
        transition: 0.2s all;

        &:hover{
            color: colors.$color-secondary;
        }
    }
    &__copyright{
        color: colors.$color-secondary;
        font-size: 80%;
        @include mixins.fontStyles;
        text-transform: capitalize;
    }
}
