@use "../base/mixins";
@use "../base/fonts";
@use "../base/colors";

.header {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(colors.$color-black,0.8), rgba(colors.$color-black,0.6)),url("/img/pexels-sam-lion-5709282.jpg") center no-repeat;
    background-size: cover;
    position:relative;
    padding:2rem;

    &__brand{
        height:40%;
        @include mixins.flexCenter;
        gap: 2rem;
    }

    &__logo{
        font-size: 7rem;
        color: colors.$color-primary;
        width: 11rem;
        height:11rem;
        border-radius:50%;
        border: 0.3rem solid colors.$color-primary;
        @include mixins.flexCenter;
    }

    &__name{
        font-family: fonts.$font-nunito;
        font-size: 5rem;
        color: colors.$color-secondary;
        @include mixins.fontStyles;
    }

    &__subName{
        font-family: fonts.$font-josefinSans;
        font-size: 1.8rem;
        color: colors.$color-secondary;
        text-align:center;
        @include mixins.fontStyles; 
    }

    &__banner{
        @include mixins.flexCenter;
        height:60%;
        justify-content: space-around;
        gap:8rem;
        margin-top:8rem;
        flex-direction: column;
        color: colors.$color-secondary;
    }

    &__heading{
        font-family: fonts.$font-dancingScript;
        font-size: 10rem;
        font-weight: 300;
        color: colors.$color-primary;
    }
    
    &__subHeading{
        font-family: fonts.$font-josefinSans;
        font-size: 6rem;
        font-weight: 300;
        color: colors.$color-secondary;
    }
}
@media screen and (max-width: 50rem) {
    .header{
        &__name{
            font-size: 3rem;
        }
        
        &__subHeading{
            font-family: fonts.$font-josefinSans;
            font-size: 4rem;
            text-align: center;
        }
    }
}
